---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';

// No need to pass props; Navbar will check Astro.locals internally
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Astro Auth</title>
    </head>
    <body class="m-0 p-0 min-h-screen bg-slate-50">
        <Navbar />
        <slot />
    </body>
</html>